<!DOCTYPE >
<html lang="en" html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="header"><nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <div sec:authorize="hasAuthority('Student')">


                <li><a href="#">Student 1</a></li>
                <li><a href="#">Student 2</a></li>
                <li><a href="#">Student 3</a></li>
            </div>
            <div sec:authorize="hasAuthority('Teacher')">

                <li><a href="#">Teacher 1</a></li>
                <li><a href="#">Teacher 2</a></li>
                <li><a href="#">Teacher 3</a></li>
            </div>
                <div sec:authorize="hasAuthority('Examinator')">

                <li><a href="#">Examinator 1</a></li>
                <li><a href="#">Examinator 2</a></li>
                <li><a href="#">Examinator 3</a></li>
                </div>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <div sec:authorize="!isAuthenticated()">


                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

            </div>
            <div sec:authorize="!isAuthenticated()">
                <form id="logoutForm" method="POST" action="${contextPath}/logout">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                </form>

                <h2><a onclick="document.forms['logoutForm'].submit()">Logout</a></h2>

            </div>
        </ul>
    </div>
</nav>
</div>
</html>
