
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!--    <link href="/static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>-->
</head>
<body>
<!--Navigation bar-->
<div th:replace="fragments/navbar :: header">...</div>
<!--end of Navigation bar-->
<div>
<div>

    <H1>Home</H1>
    </p>
        <div sec:authorize="hasAuthority('Student')">
            <p><b>As a student you can do the following:</b></p>
            <p> - Register for an exams.</p>
            <p> - See results of exams.</p>
        </div>
        <div sec:authorize="hasAuthority('Teacher')">
            <p><b>As a teacher you can do the following:</b></p>
            <p> Create a new exam.</p>
            <p> Grade students their exams.</p>
        </div>
    <div sec:authorize="hasAuthority('Examinator')">
        <p><b>As a examinator you can do the following:</b></p>
        <p> Create a new classroom.</p>
    </div>
    <p sec:authorize="!isAuthenticated()"><a href="/login">Login</a><a> or </a> <a href="/registration">register</a> <a> to use the exam software!</a></p>
</div>
</div>
</body>
</html>
