<!DOCTYPE >
<html lang="en" html  xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Create an account</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<!--Navigation bar-->
<div th:replace="fragments/navbar :: header">...</div>
<!--end of Navigation bar-->

<div class="container">

    <form id="messageForm" th:action="@{oldregistration}" th:object="${user}"
          action="#" method="post">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
            <p th:each="error : ${#fields.errors('*')}" th:text="${error}">
                Validation error</p>
        </div>

        <label for="username">Name</label>
        <input type="text" id="username" th:field="*{username}">

        <label for="role">Type</label>
        <select name="role" id="role" th:field="*{role}">
            <option value="Student">Student</option>
            <option value="Teacher">Teacher</option>
            <option value="Examinator">Examinator</option>
        </select>

        <label for="password">Password</label>
        <input type="password" id="password" th:field="*{password}">

        <label for="passwordConfirm">Confirm password</label>
        <input type="password" id="passwordConfirm" th:field="*{passwordConfirm}">

        <div class="form-actions">
            <input type="submit" value="Save" />
        </div>
    </form>



<!--    <form:form method="POST" modelAttribute="userForm" class="form-signin">-->
<!--        <h2 class="form-signin-heading">Create your account</h2>-->
<!--        <spring:bind path="username">-->
<!--            <div class="form-group ${status.error ? 'has-error' : ''}">-->
<!--                <form:input type="text" path="username" class="form-control" placeholder="Username"-->
<!--                            autofocus="true"></form:input>-->
<!--                <form:errors path="username"></form:errors>-->
<!--            </div>-->
<!--        </spring:bind>-->



<!--            <spring:bind path="role">-->
<!--                <div class="form-group ${status.error ? 'has-error' : ''}">-->
<!--                    <form:select path="role" items="${roles}" placeholder="role"/>-->


<!--<%&#45;&#45;                    <form:input type="text" path="role" class="form-control" placeholder="role"&#45;&#45;%>-->
<!--<%&#45;&#45;                                autofocus="true"></form:input>&#45;&#45;%>-->
<!--<%&#45;&#45;                    <form:errors path="role"></form:errors>&#45;&#45;%>-->
<!--                </div>-->
<!--            </spring:bind>-->



<!--        <spring:bind path="password">-->
<!--            <div class="form-group ${status.error ? 'has-error' : ''}">-->
<!--                <form:input type="password" path="password" class="form-control" placeholder="Password"></form:input>-->
<!--                <form:errors path="password"></form:errors>-->
<!--            </div>-->
<!--        </spring:bind>-->

<!--        <spring:bind path="passwordConfirm">-->
<!--            <div class="form-group ${status.error ? 'has-error' : ''}">-->
<!--                <form:input type="password" path="passwordConfirm" class="form-control"-->
<!--                            placeholder="Confirm your password"></form:input>-->
<!--                <form:errors path="passwordConfirm"></form:errors>-->
<!--            </div>-->
<!--        </spring:bind>-->

<!--        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>-->
<!--    </form:form>-->

</div>
<!-- /container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="${contextPath}/resources/js/bootstrap.min.js"></script>
</body>
</html>
