<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout"
      lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Classrooms : Create</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
    <!--Navigation bar-->
    <div th:replace="fragments/navbar :: header">...</div>
    <!--end of Navigation bar-->

    <div layout:fragment="content" class="container">
            <h1 layout:fragment="header">Exams : Create</h1>

            <form id="messageForm" th:action="@{/teacher/exam/formComputer}" th:object="${exam}"
                  action="/teacher/exam/formComputer" method="post">
                <div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
                    <p th:each="error : ${#fields.errors('*')}" th:text="${error}">
                        Validation error</p>
                </div>

                <label for="name">Date</label>
                <input type="text" id="name" th:field="*{name}">

                <label for="OwnComputer">OwnComputer</label>
                <input  type="checkbox" id="OwnComputer" th:field="*{ownComputer}">

                <label for="internetAllowed">internetAllowed</label>
                <input  type="checkbox" id="internetAllowed" th:field="*{internetAllowed}">

                <label for="date">Name</label>
                <input pattern="dd-MM-yyyy" type="date" id="date" th:field="*{date}">

                <div class="form-actions">
                    <input type="submit" value="Save" />
                </div>
            </form>
        </div>
    </body>
</html>
